.navbar {
  border-radius: 0px;
  margin: 0px; }

.navbar-pharma {
  background-color: #000; }
  .navbar-pharma .navbar-nav > li > a {
    color: #fff;
    background-color: transparent; }
  .navbar-pharma .navbar-nav > li > a:hover, .navbar-pharma .navbar-nav > li > a:focus {
    color: #118c4e;
    background-color: transparent; }

.navbar-pharma .dropdown-menu > li > a:focus, .navbar-pharma .dropdown-menu > li > a:hover {
  background-color: #118c4e;
  background-image: none; }

.navbar-pharma .dropdown-menu > .active > a, .navbar-pharma .dropdown-menu > .active > a:focus, .navbar-pharma .dropdown-menu > .active > a:hover {
  background-color: #0d6e3e;
  color: #000;
  background-image: none; }
  .navbar-pharma .navbar-nav > .active > a, .navbar-pharma .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #118c4e; }
  .navbar-pharma .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #0d6e3e; }
  @media only screen and (min-width: 992px) {
    .navbar-pharma li.dropdown:hover > ul.dropdown-menu {
      display: block; } }
  .navbar-pharma .navbar-nav > .disabled > a, .navbar-pharma .navbar-nav > .disabled > a:hover, .navbar-pharma .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent; }
  .navbar-pharma .navbar-brand > img {
    width: 20px; }
  .navbar-pharma .navbar-toggle {
    border-color: #118c4e;
    background-color: #000; }
    .navbar-pharma .navbar-toggle .icon-bar {
      background-color: #fff; }
  .navbar-pharma .navbar-toggle:hover, .navbar-pharma .navbar-toggle:focus {
    background-color: #118c4e; }
  .navbar-pharma .navbar-text {
    color: #fff; }
  .navbar-pharma .navbar-link {
    color: #118c4e; }
    .navbar-pharma .navbar-link:hover {
      color: #0d6e3e; }

.btn-pharma-1 {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #2d2d2d;
  width: 100%;
  margin: 2px 0; }
  .btn-pharma-1:focus, .btn-pharma-1.focus, .btn-pharma-1:hover, .btn-pharma-1:active {
    color: #fff;
    background-color: #212121; }

.btn-pharma-2 {
  color: #118c4e;
  background-color: #000;
  border-color: #000; }
  .btn-pharma-2:focus, .btn-pharma-2.focus, .btn-pharma-2:hover, .btn-pharma-2:active {
    color: #000;
    background-color: #118c4e; }

.btn-pharma-3 {
  color: #118c4e;
  background-color: transparent;
  border-color: #118c4e; }
  .btn-pharma-3:focus, .btn-pharma-3.focus, .btn-pharma-3:hover, .btn-pharma-3:active {
    color: #000;
    background-color: #0d6e3e; }

.btn-pharma-secondary-1 {
  color: #000;
  background-color: #ffeb9a;
  border-color: #ffeb9a; }
  .btn-pharma-secondary-1:focus, .btn-pharma-secondary-1.focus, .btn-pharma-secondary-1:hover, .btn-pharma-secondary-1:active {
    color: #000;
    background-color: #ffda69; }

.panel-pharma {
  border-color: #118c4e; }
  .panel-pharma .panel-heading {
    color: #000;
    background-color: #118c4e;
    border-color: #ddd; }
  .panel-pharma .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd; }
  .panel-pharma .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333; }
  .panel-pharma .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd; }

.btn-pharma-link {
  background-color: #3c3c3c;
  border-color: #2d2d2d;
  border-radius: 4px;
  width: 100%;
  margin: 2px 0; }

.btn-pharma-link a {
  color: #fff; }
  .btn-pharma-link:hover, .btn-pharma-link:focus {
    color: #fff;
    background-color: #212121; }

.has-spinner {
  text-align: center; }

.has-spinner.active {
  cursor: progress; }

.has-spinner.active .spinner {
  opacity: 1;
  width: 100%; }

.has-spinner .spinner {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.25s, width 0.25s; }

.has-spinner .spinner-pharma-1 {
  color: #118c4e; }

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); }
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1); }

.breadcrumb {
  margin: 0;
  padding: 5px; }

.breadcrumb a {
  color: #118c4e; }

#index .sub-content {
  display: inline-block;
  width: 100%; }

#index .sub-content .logo {
  text-align: center; }

#index .sub-content .logo img {
  margin: 10px;
  padding: 10px;
  width: 150px;
  border: 2px solid #000;
  border-radius: 20px; }

#index .sub-content .welcome {
  text-align: center;
  margin: 40px 0; }

#index .sub-content .welcome span {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000; }

#index .sub-content .welcome-btn {
  display: inline-block;
  width: 100%; }

#index .sub-content .welcome-btn .login {
  text-align: right; }

#index .sub-content .welcome-btn .register {
  text-align: left; }

#home .btn-home {
  height: 100px;
  margin: 10px 0;
  color: #fff; }

#home .btn-home span {
    display: inline-block;
  margin-top: 33px; }

@media print {
  body * {
    visibility: hidden; }
  #section-to-print, #section-to-print * {
    visibility: visible; }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0; }
}

body {
  background-color: #118c4e; }

#push-content {
  float: left;
  clear: both; }

#center-content {
  float: left;
  clear: both;
  width: 100%; }

.center-horizontal {
  margin: 0 auto;
  text-align: center; }

.page-title {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px; }

.alert-pharma {
  margin-top: 20px; }

.language-flag {
  width: 30px; }

.language-ddl > li > a {
  padding-top: 10px;
  padding-bottom: 10px; }

.language-item span {
  padding-left: 10px; }

.link-button:hover, .link-button:focus {
  text-decoration: none; }

.form-number-spinner::-webkit-inner-spin-button, .form-number-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.hidden {
  display: none; }

.tablesorter button:hover {
  color: #118c4e; }

.pager button:not(.disabled):hover {
  color: #118c4e; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.tablesorter thead th {
  background-color: transparent; }

.tablesorter thead .tbl-col-date {
  width: 95px; }

.tablesorter thead .tbl-col-doctor {
  width: 200px; }

.tablesorter thead .tbl-col-product {
  width: 150px; }

.tablesorter thead .tbl-col-dosage {
  width: 60px; }

.tablesorter thead .tbl-col-status {
  min-width: 110px; }

.tablesorter thead .tbl-col-icon {
  width: 30px; }

.tablesorter thead .tbl-col-condition {
  min-width: 200px; }

.tablesorter thead .tbl-col-pharma {
  min-width: 200px; }

.tablesorter tbody tr td {
  vertical-align: middle; }

.tablesorter .tablesorter-header {
  cursor: default; }
  .tablesorter .tablesorter-header:focus {
    outline: none; }

.tablesorter .tablesorter-header-inner {
  padding: 4px 25px 4px 4px; }

.tablesorter .tablesorter-toggle, .tablesorter .product {
  cursor: pointer; }

.tablesorter .tablesorter-headerAsc {
  background-color: rgba(17, 140, 78, 0.4); }

.tablesorter .tablesorter-headerDesc {
  background-color: rgba(17, 140, 78, 0.4); }

.tablesorter .tablesorter-header {
  cursor: pointer; }

.tablesorter .tablesorter-filter.disabled {
  display: none; }

#print-prescription {
  width: 900px; }

#print-prescription .content {
  float: left;
  clear: both;
  width: 100%;
  border: 3px double #000;
  padding: 20px; }

#print-prescription .left-col {
  float: left;
  clear: left;
  width: 25%;
  text-align: right; }

#print-prescription .left-col .cell {
  padding: 5px 20px 5px 0px; }

#print-prescription .right-col {
  float: left;
  width: 75%; }

#print-prescription .right-col .cell {
  padding: 5px 0px 5px 20px; }

#print-prescription .right-col .multi-row {
  float: left;
  width: 100%; }

#print-prescription .right-col .sub-cell {
  float: left;
  width: 20%; }

#print-prescription .right-col .sub-cell.name {
  clear: left; }

.product-barcode-status span {
  display: none; }

.product-barcode-status .ok {
  color: #118c4e; }

.product-barcode-status .remove {
  color: #a94442; }

.product-barcode-status .flash {
  color: #ffeb9a; }

.product-prescription {
  width: 100%; }

.product-barcode-skip {
  width: 115px; }

.pharma-skip-disable {
  border-color: #ffeb9a; }

#patient-products .refresh, #patient-products .cart {
  width: 100%; }

#patient-products #products td {
  vertical-align: middle; }

#patient-products #products .count {
  width: 40px; }

#patient-products #products .quantity {
  width: 90px; }

#patient-products #products .price {
  width: 100px; }

#patient-products #products .total {
  width: 150px; }

#patient-products #products .remove {
  width: 40px; }

#patient-products #products .product-item {
  cursor: pointer; }

#patient-products #products .product-item .quantity {
  float: right;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

#patient-products #products .product-description td {
  display: none; }

#patient-products #products .remove:hover {
  color: #a94442; }

#patient-products .product-barcode-parent {
  margin-bottom: 15px; }

#patient-products #product-totals {
  font-weight: 900; }

#prescription .search, #prescription .forget {
  width: 100%; }

/*# sourceMappingURL=app.css.map */
