$color_1: #118c4e;
$color_1_alpha: rgba(17, 140, 78, 0.4);
$color_1_a: #0d6e3e;
$color_1_b: #084627;
$color_2: #000;
$color_3: #fff;
$color_4: #444;
$color_sec_1: #ffeb9a;
$color_sec_1_a: #ffda69;
$color_error_1: #a94442;
$color_error_2: #c8444b;
$color_filler: #3c3c3c;
$color_border: #2d2d2d;
$color_hover: #212121;

$font: 'Raleway', sans-serif;

$media_small: 'only screen and (min-width : 768px)';
$media_medium: 'only screen and (min-width : 992px)';
$media_large: 'only screen and (min-width : 1200px)';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}