@import "variables";

@media print {

  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

body {
  background-color: $color_1;
}

#push-content {
  float: left;
  clear: both;
}

#center-content {
  float: left;
  clear: both;
  width: 100%;
}

.center-horizontal {
  margin: 0 auto;
  text-align: center;
}

.page-title {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.alert-pharma {
  margin-top: 20px;
}

.language-flag {
  width: 30px;
}

.language-ddl > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.language-item span {
  padding-left: 10px;
}

.link-button {

  &:hover, &:focus {
    text-decoration: none;
  }
}

.form-number-spinner {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.hidden {
  display: none;
}

.tablesorter {

  button:hover {
    color: $color_1;
  }
}

.pager {

  button:not(.disabled):hover {
    color: $color_1;
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}