@import "variables";

#index {

  .sub-content {
    display: inline-block;
    width: 100%;

    .logo {
      text-align: center;

      img {
        margin: 10px;
        padding: 10px;
        width: 150px;
        border: 2px solid $color_2;
        @include border-radius(20px);
      }
    }

    .welcome {
      text-align: center;
      margin: 40px 0;

      span {
        font-size: 40px;
        font-family: $font;
        font-weight: 800;
        color: $color_2;
      }
    }

    .welcome-btn {
      display: inline-block;
      width: 100%;

      .login {
        text-align: right;
      }

      .register {
        text-align: left;
      }
    }
  }
}