@import "variables";

.product-barcode-status {

  span {
    display: none;
  }

  .ok {
    color: $color_1;
  }

  .remove {
    color: $color_error_1;
  }

  .flash {
    color: $color_sec_1;
  }
}

.product-prescription {
  width: 100%;
}

.product-barcode-skip {
  width: 115px;
}

.pharma-skip-disable {
  border-color: $color_sec_1;
}

#patient-products {

  .refresh, .cart {
    width: 100%;
  }

  #products {

    td {
      vertical-align: middle;
    }

    .count {
      width: 40px
    }

    .quantity {
      width: 90px;
    }

    .price {
      width: 100px;
    }

    .total {
      width: 150px;
    }

    .remove {
      width: 40px;
    }

    .product-item {
      cursor: pointer;

      .quantity {
        float: right;
        width: 50px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    .product-description {

      td {
        display: none;
      }
    }

    .remove:hover {
      color: $color_error_1;
    }
  }

  .product-barcode-parent {
    margin-bottom: 15px;
  }

  #product-totals {
    font-weight: 900;
  }
}