@import "variables";

#print-prescription {
  width: 900px;

  .content {
    float: left;
    clear: both;
    width: 100%;
    border: 3px double #000;
    padding: 20px;
  }

  .left-col {
    float: left;
    clear: left;
    width: 25%;
    text-align: right;

    .cell {
      padding: 5px 20px 5px 0px;
    }
  }

  .right-col {
    float: left;
    width: 75%;

    .cell {
      padding: 5px 0px 5px 20px;
    }

    .multi-row {
      float: left;
      width: 100%;
    }

    .sub-cell {
      float: left;
      width: 20%;

      &.name {
        clear: left;
      }
    }
  }
}