@import "variables";

.tablesorter {

  thead {

    th {
      background-color: transparent;
    }

    .tbl-col-date {
      width: 95px;
    }

    .tbl-col-doctor {
      width: 200px;
    }

    .tbl-col-product {
      width: 150px;
    }

    .tbl-col-dosage {
      width: 60px;
    }

    .tbl-col-status {
      min-width: 110px;
    }

    .tbl-col-icon {
      width: 30px;
    }

    .tbl-col-condition {
      min-width: 200px;
    }

    .tbl-col-pharma {
      min-width: 200px;
    }
  }

  tbody tr td {
    vertical-align: middle;
  }

  .tablesorter-header {
    cursor: default;

    &:focus {
      outline: none;
    }
  }

  .tablesorter-header-inner {
    padding: 4px 25px 4px 4px;
  }

  .tablesorter-toggle, .product {
    cursor: pointer;
  }

  .tablesorter-headerAsc {
    background-color: $color_1_alpha;
  }

  .tablesorter-headerDesc {
    background-color: $color_1_alpha;
  }

  .tablesorter-header {
    cursor: pointer;
  }

  .tablesorter-filter.disabled {
    display: none;
  }
}
